#how-many-person{
    -webkit-box-sizing: border-box;
box-sizing: border-box;
clear: both;
cursor: pointer;
display: block;
float: left;
outline: none;
position: relative;
text-align: left;
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
white-space: nowrap;
width: 100%;
z-index: inherit;
padding-left: 25px;
padding-right: 45px;
padding-top: 14px;
padding-bottom: 14px;
border: none;
height: 50px;
font-family: var(--rr-ff-jost);
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 23px;
border-radius: 0px;
color: var(--rr-theme-secondary);
background-color: var(--rr-common-white);

}
.food-menu__item-media img{
    min-height: 270px;
    object-fit: cover;
}
.mobile-list  a{
    display: block;
    float: left;
    width: 90%;
    border: none !important;
    padding: 10px 5%;
    margin: 0;
    text-align: left;
    text-decoration: none;
    text-transform: capitalize;
    width: 100%;
    padding: 10px 0;
    color: white !important;
    border-top: 1px solid rgba(255, 255, 255, 0.079);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
}
@media (max-width: 768px){
    .list-two-columns-mobile{
        columns: 2;
        margin-bottom: 2rem;
    } 
}